body {
    font-family: "Open Sans", sans-serif;
    background-color: #eee;
}

.shirts-container {
    display: flex;
    flex-wrap: wrap; /* перенос карточек */
    justify-content: space-around; /* равномерное распределение карточки по гориз.*/
}

.shirt-card {
    border: 1px solid #fff; /* рамка */
    width: 200px;
    border-radius: 20px;
    padding: 16px; /* внутр. отступы */
    margin: 16px; /* внешн. отступы */
    text-align: center;

    box-shadow: 10px 10px 20px #434040;
}

.shirt-card img {
    max-width: 100%;
    height: auto;
    border-radius: 11px;
}

.modal {
    display: flex;
    display: none; /* по умолчанию скрыто */
    position: fixed; /* закреплено и при прокрутке */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* затемнение фона) */
    text-align: center;
    padding-top: 60px;
}

.modal img {
    width: 50%;
}

.modal-content {
    background-color: white;
    /* Белый фон для содержимого */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Ширина модального окна */
}

.images-container {
    display: flex;
    justify-content: space-around;
}

.images-container img {
    max-width: 45%;
    /* Ограничиваем ширину изображений */
    height: auto;
}

.card-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.card-sub {
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
}

.btn-keeper { /* центрирует кнопку с отступом */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 8px;
}

.btn {
    background-color: #846A6A;
    padding: 7px 12px;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    border: none;
    cursor: pointer; /* показывает что кликабельно изменяя курсор */
    font-size: 14px;
}

.btn:hover {
    background-color: #735c5c;
    /* Цвет при наведении */
}

.shirts-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.color-btn {
    background-color: #846A6A;
    padding: 7px 12px;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* показывает что кликабельно изменяя курсор */
    font-size: 14px;
}

.color-btn:hover {
    opacity: 0.7;
    /* прозрачность при наведении */
}

h1 {
    font-size: 24px;
    /* Размер заголовка */
}

.info-container {
    text-align: center;
    /* Центрируем текст и элементы внутри */
}

.color-btns-container button {
    padding: 7px 12px;
    /* Паддинг для цветных кнопок */
    display: inline-flex;
    justify-content: center;
    margin-right: 8px;
    border: none;
    /* Граница для цветных кнопок */
}

.details-images-container {
    display: flex;
    justify-content: space-around;
}

.details-images-container img {
    max-width: 65%;
    /* Ограничиваем ширину изображений */
    height: auto;
}

.close-btn {
    margin-top: 20px;
    background-color: #846A6A;
    padding: 7px 12px;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /* показывает что кликабельно изменяя курсор */
    font-size: 14px;
}